.App {
	text-align: center;
	background-color: #171212;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.emoji-button {
	transition: all 0.1s ease;
	background: none;
	border: none;
	font-size: 10em;
}

.emoji-button:active {
	transform: translateY(4px);
	filter: brightness(0.9);
}
