.App {
	text-align: center;
	background-color: #171212;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(18px + 2vmin);
	font-weight: 700;
	color: rgb(218, 210, 204);
	font-family: "DM Sans Variable";
}

.emoji-button {
	transition: all 0.1s ease;
	background: none;
	border: none;
	font-size: 10em;
}

.emoji-button:active {
	transform: translateY(4px);
	filter: brightness(0.9);
}

.big-count {
	display: flex;
	flex-direction: row;
}

.big-count-text {
	font-weight: 900;
	font-size: 2em;
	color: #faf7f7;
}

.big-count-coin {
	display: inline-flex;
	align-items: center;
}
