.App {
	text-align: center;
	background-color: #171212;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(18px + 2vmin);
	font-weight: 700;
	color: rgb(218, 210, 204);
	font-family: "DM Sans Variable";
}

.emoji-button {
	transition: all 0.1s ease;
	background: none;
	border: none;
	font-size: 10em;
}

.emoji-button:active {
	transform: translateY(4px);
	filter: brightness(0.9);
}

.big-count {
	display: flex;
	flex-direction: row;
}

.big-count-text {
	font-weight: 900;
	font-size: 2em;
	color: #faf7f7;
}

.big-count-coin {
	display: inline-flex;
	align-items: center;
}

.history-chart {
	width: 14em;
	margin-left: -1.5em;
	margin-top: 2em;
	margin-bottom: 0.5em;
}

.history-select {
	display: flex;
	justify-content: space-between;
	gap: 3em;
	margin-bottom: 1em;
}

.tag {
	margin-top: 5em;
	font-size: 12px;
	text-align: center;
	margin-bottom: 2em;
}

.tag a {
	text-decoration: none;
	color: rgb(0, 132, 255);
}

.tag a:visited {
	text-decoration: none;
	color: rgb(0, 132, 255);
}
